graphs/
LaTeX/slideshow/presentation.log
LaTeX/slideshow/presentation.aux
LaTeX/slideshow/presentation.nav
LaTeX/slideshow/presentation.toc
LaTeX/slideshow/presentation.synctex.gz
LaTeX/slideshow/presentation.pdf
LaTeX/slideshow/presentation.snm
LaTeX/slideshow/.DS_Store
